*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  .color{
    background-color: #1F2937;
  }
  
  body{
    display: flex;
    flex-direction: column;
  }
  .nav{
    display: flex;
    list-style-type: none;
    padding:0;
    margin-right:34px;
    color:#F9FAF8;
    font-size: 18px;
    gap:30px;
  }
  .header{
    display:flex;
    justify-content: space-between;
    background-color: #1F2937;
    margin-bottom: 34px;
    
  }
  .head{
    font-size:24px;
    color:#F9FAF8;
    margin-left:32px;
   padding-left: 32px;
   width:200px;
   height:auto;
  
  }
  .ab{
    width:200px;
    height:auto;
    
  }
  .pic{
    width:400px;
    height:auto;
  }
  .main-one{
    display:flex;
    background-color:#1F2937;
    gap:-8px;
   
  }
  .Description{
    color:#F9FAF8;
    font-size:48px;
    font-weight: extra-bold;
    margin-left:32px;
   padding-left:32px;
   margin-bottom:0em;
   margin-right:48px;
  }
  .story{
    color: #F9FAF8;
    font-size: 18px;
    display: flex;
  }
  .button{
    padding:16px;
    border-radius:8px;
    margin-left: 60px;
    background-color: #3882F6;
    color:#F9FAF8;
  }
  .places{
    text-align:center;
    font-weight: BOLD;
    font-size:36px;
    color:#1F2937;
    margin: 20px 0px;
  }